<% for(var i = 0; i < users.length; i++) { %>
    <tr>
        <td><%= users[i].rnumber %></td>
        <td><%= users[i].rdate %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].fatherName %></td>
        <td><%= users[i].motherName %></td>
        <td><%= users[i].dob %></td>
        <td><%= users[i].gender %></td>
        <td><%= users[i].phoneNumber %></td>
        <td><%= users[i].amountPaid %></td>
        <td><%= users[i].status %></td>
        <td>
            <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>